@model AgencyTemplate.Models.Service
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<ul class="list-group">
    <li class="list-group-item">@Model.Name</li>
    <li class="list-group-item">@Model.Description</li>
    <li class="list-group-item" >@Model.Icon </li>

</ul>

