@model List<AgencyTemplate.Models.Service>
@{
    ViewBag.Title = "Index";
}


<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Services</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                       
                    </tr>
                </thead>
            
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr class=@(item.Status == true ? null : "bg-danger")>
                            <td><a href="@Url.Action("Details", "Service", new { id = item.Id })">@item.Name</a> </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
